<% content_for :title, 'Grader Applications' %>
<div class="admin-content">
  <h1>Grader Applications</h1>
  <div class="d-flex justify-content-end mb-3">
    <% if current_user.student?  %>
      <%= link_to 'New Submission', new_grader_application_path, class: 'btn btn-success btn-sm' %>
    <% end %>
  </div>
  <div class="table-responsive">
    <table class="table" style="color: white;">
      <thead class="thead-dark">
        <tr>
          <th>Display Name</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Course</th>
          <th>Section</th>
          <th>Approved</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @grader_applications.each do |application| %>
          <tr id="application-<%= application.id %>">
            <td><%= application.display_name %></td>
            <td><%= "#{application.first_name} #{application.middle_name} #{application.last_name}" %></td>
            <td><%= application.email %></td>
            <td><%= application.course.course_name if application.course %></td>
            <td><%= application.section.section_number if application.section %></td>
            <td id="approved-<%= application.id %>"><%= application.approved ? 'Yes' : 'No' %></td>
            <td class="d-flex align-items-center">
              <%= link_to 'Show', grader_application_path(application), class: 'btn btn-info btn-sm me-2' %>
              <% if current_user.student? && current_user == application.user %>
                <%= link_to 'Edit', edit_grader_application_path(application), class: 'btn btn-primary btn-sm me-2' %>
                <%= link_to 'Delete', grader_application_path(application), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm me-2' %>
              <% elsif current_user.admin? || current_user.instructor? %>
                <%= button_to application.approved ? 'Unapprove' : 'Approve', approve_grader_application_path(application), method: :patch, remote: true, class: 'btn btn-warning btn-sm', id: "approve-button-#{application.id}" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="pagination">
  <%= raw pagy_nav(@pagy) %>
</div>