<% content_for :title, 'Reload Courses' %>
<h1>Reload Courses</h1>

<%= form_with url: do_reload_courses_courses_path, method: :post, local: true do |form| %>
  <div class="field">
    <%= form.label :term, "Term" %>
    <%= form.select :term, options_for_select([
      ['Spring 2022', '1222'],
      ['Autumn 2022', '1228'],
      ['Spring 2023', '1232'],
      ['Summer 2023', '1234'],
      ['Autumn 2023', '1238'],
      ['Spring 2024', '1242'],
      ['Summer 2024', '1244'],
      ['Autumn 2024', '1248']
    ]) %>
  </div>

  <div class="field">
    <%= form.label :campus, "Campus" %>
    <%= form.select :campus, options_for_select([
      ['Columbus', 'col'],
      ['Lima', 'lma'],
      ['Mansfield', 'mns'],
      ['Marion', 'mrn'],
      ['Newark', 'nwk'],
      ['Wooster', 'wst']
    ]) %>
  </div>

  <div class="actions">
    <%= form.submit "Reload Courses" %>
  </div>
<% end %>

<%= link_to 'Back to Courses', courses_path %>
