<div class="course-details-container">
  <div class="home-container d-flex justify-content-center align-items-center">
    <div class="admin-content">
      <h1 class="display-4"><%= @course.course_name %></h1>
      <p class="lead"><%= @course.course_description %></p>
      <p class="mb-4">Credits: <%= @course.credits %></p>
      <%= link_to 'Back', courses_path(search: params[:search], sort_by: params[:sort_by]), class: 'btn btn-secondary' %>
      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_course_path(@course, search: params[:search], sort_by: params[:sort_by]), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="sections-container mt-5">
    <h2>Sections</h2>
    <% if @course.sections.any? %>
      <div class="row">
        <% @course.sections.each do |section| %>
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Section <%= section.section_number %></h5>
                <div>
                  <%= link_to 'View Graders', view_graders_course_section_path(@course, section), class: 'btn btn-light' %>
                  <% if current_user.admin? %>
                    <%= link_to 'Edit Section', edit_course_section_path(@course, section), class: 'btn btn-light' %>
                  <% end %>
                  <span class="badge badge-light"><%= section.grader_applications.where(approved: true).count %> / <%= section.max_graders || 2 %></span>
                </div>
              </div>
              <div class="card-body">
                <p><strong>Instructor:</strong> 
                  <% instructors = section.meetings.flat_map do |meeting| 
                    begin
                      parsed_instructors = meeting.instructors_json.gsub("=>", ":")
                      JSON.parse(parsed_instructors || '[]').map { |i| i['displayName'] }
                    rescue JSON::ParserError
                      []
                    end
                  end.uniq %>
                  <%= instructors.join(", ") %>
                </p>
                <p><strong>Meeting Days:</strong>
                  <% section.meetings.each do |meeting| %>
                    <%= "M" if meeting.monday %>
                    <%= "T" if meeting.tuesday %>
                    <%= "W" if meeting.wednesday %>
                    <%= "R" if meeting.thursday %>
                    <%= "F" if meeting.friday %>
                  <% end %>
                </p>
                <p><strong>Start Time:</strong> <%= section.meetings.first.start_time.strftime("%I:%M %p") if section.meetings.first.start_time %></p>
                <p><strong>End Time:</strong> <%= section.meetings.first.end_time.strftime("%I:%M %p") if section.meetings.first.end_time %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No sections available for this course.</p>
    <% end %>
  </div>
</div>
